@import "../../_variables.scss";

.main-view-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-base-back;
}

.main-view {
    margin: 24px auto;
    color: $color-base-front;

    .title {
        text-align: center;
    }

}
